body{
    background-image: url('logo/events_back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.ideathrone-back{
    background-image: url('logo/2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
}
.gamoholix-back{
    background-image: url('logo/6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.mindmuse-back{
    background-image: url('logo/3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
}
.row{
    margin-left: 150px !important;
}