body{
    background-image: url('logo/events_back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180vh;
}
.tech-back{
    border-radius: 20px !important;
    position: relative;
    background-image: url('photos/events/tech_rush.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
    transition: transform 2000ms;
    transform-style: preserve-3d;
}

.incognito-back{
    position: relative;
    border-radius: 20px !important;
    background-image: url('photos/events/incognito.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
    transition: transform 2000ms;
    transform-style: preserve-3d;
}
.technofuzzle-back{
    position: relative;
    border-radius: 20px !important;
    background-image: url('photos/events/technofuzzle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
    transition: transform 2000ms;
    transform-style: preserve-3d;
}
.ideathrone-back{
    position: relative;
    border-radius: 20px !important;
    background-image: url('photos/events/ideathrone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
    transition: transform 2000ms;
    transform-style: preserve-3d;
}

.gamoholix-back{
    position: relative;
    border-radius: 20px !important;
    background-image: url('photos/events/gamoholix.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
    transition: transform 2000ms;
    transform-style: preserve-3d;
    margin-left: 200px !important;
}

.graphiculture-back{
    position: relative;
    border-radius: 20px !important;
    background-image: url('photos/events/graphiculture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
    transition: transform 2000ms;
    transform-style: preserve-3d;
    margin-left: 100px !important;
}

.mindmuse-back{
    position: relative;
    border-radius: 20px !important;
    background-image: url('photos/events/mindmuse.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
    transition: transform 2000ms;
    transform-style: preserve-3d;
}

.prozone-back{
    position: relative;
    border-radius: 20px !important;
    background-image: url('photos/events/prozone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:250px !important;
    width: 200px !important;
    transition: transform 2000ms;
    transform-style: preserve-3d;
}

.front,.back{
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.25);
    border-radius: 10px !important;
    position: absolute;
    height: 250px !important;
    width: 200px !important;
    backface-visibility: hidden;
}
.front1,.back1{
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.25);
    border-radius: 10px !important;
    position: absolute;
    height: 250px !important;
    width: 200px !important;
    backface-visibility: hidden;
}
.front2,.back2{
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.25);
    border-radius: 10px !important;
    position: absolute;
    height: 250px !important;
    width: 200px !important;
    backface-visibility: hidden;
}
.front3,.back3{
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.25);
    border-radius: 10px !important;
    position: absolute;
    height: 250px !important;
    width: 200px !important;
    backface-visibility: hidden;
}
.front4,.back4{
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.25);
    border-radius: 10px !important;
    position: absolute;
    height: 250px !important;
    width: 200px !important;
    backface-visibility: hidden;
}
.front5,.back5{
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.25);
    border-radius: 10px !important;
    position: absolute;
    height: 250px !important;
    width: 200px !important;
    backface-visibility: hidden;
}

.front6,.back6{
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.25);
    border-radius: 10px !important;
    position: absolute;
    height: 250px !important;
    width: 200px !important;
    backface-visibility: hidden;
}

.front7,.back7{
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.25);
    border-radius: 10px !important;
    position: absolute;
    height: 250px !important;
    width: 200px !important;
    backface-visibility: hidden;
}
.front{
    background-image: url('photos/events/tech_rush.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back{
    background-color: black;
    transform: rotateY(180deg);

}
.front1{
    background-image: url('photos/events/incognito.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back1{
    background-color: black;
    transform: rotateY(180deg);
}
.front2{
    background-image: url('photos/events/technofuzzle.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back2{
    background-color: black;
    transform: rotateY(180deg);
}
.front3{
    background-image: url('photos/events/ideathrone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back3{
    background-color: black;
    transform: rotateY(180deg);
}

.front4{
    background-image: url('photos/events/gamoholix.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back4{
    background-color: black;
    transform: rotateY(180deg);
}

.front5{
    background-image: url('photos/events/graphiculture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back5{
    background-color: black;
    transform: rotateY(180deg);
}

.front6{
    background-image: url('photos/events/mindmuse.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back6{
    background-color: black;
    transform: rotateY(180deg);
}

.front7{
    background-image: url('photos/events/prozone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back7{
    background-color: black;
    transform: rotateY(180deg);
}

.container .tech-back:hover,.incognito-back:hover,.technofuzzle-back:hover,.ideathrone-back:hover,.gamoholix-back:hover,.graphiculture-back:hover,.mindmuse-back:hover,.prozone-back:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}


@media screen and (min-width: 200px) and (max-width: 439px) {
    .psg{
        font-size: 10px !important;
    }
}
@media screen and (min-width: 445px) and (max-width: 988px) {
    .psg{
        font-size: 10px !important;
    }
}