*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
}
.abt-us-disp{
    height: 500px !important;
}
.content{
    font-family: ubuntu;
    font-size: 16.5px;
    text-align: center;
    color: white;
    padding: 20px 20px;
}
.content:hover{
    animation: transition-content 1s ease-in;
}
.heading-color{
    color: #047cff;
    text-align: center;
}
.infinity-video{
    height: 600px !important;
    width: 100% !important;
    background-image: url('logo/infinity_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.abt-us-cont{
    height: 500px !important;
    width: 1200px !important;
    background-color: black;
    border-radius: 15px !important;
}
.sponsers{
    height: 500px !important;
    width: 100% !important;
    background-color: antiquewhite;
}
@font-face {
    font-family: ubuntu;
    src: url('fonts/Ubuntu-Light.ttf');
}
@keyframes transition-content {
    0%{
        opacity: 0;
    }    
    100%{
        opacity: 1;
    }
}